body {
	background-color: orange;

}
.navbar {
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 250px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 30px;
	margin-bottom: 40px;
	border-style: groove;
	border-radius: 10px;
	border-color: black;
	background-image: url('http://4.bp.blogspot.com/-P7EKGCv9rFo/T4xxqSnZ6AI/AAAAAAAAAOA/yD4Xj6-Y0u0/s1600/review-a-movie.jpg');
}
.navfield {
	border-style: groove;
	border-radius: 5px;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
	border-color: black;
	background-color: red;
	text-align: center;

}
.container {
	border-radius: 20px;
	border-style: groove;
	border-color: black;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -200px;
	background-color: white;
	padding-bottom: 200px;

}
.text {
	margin-left: 5%;
	margin-right: 5%;
}